<div class="parent">
    <div class="div1 fade-in" [class.appear]="div1Visible">
        Want to get in touch?
    </div>
    <div class="div2 fade-in from-bottom" [class.appear]="div2Visible">
        <img src="./assets/images/headshot-circle.png" class="headshot">
    </div>
    <div class="div3 fade-in from-bottom" [class.appear]="div2Visible">
        <ul>
            <li>Email: noahchun77@gmail.com</li>
            <li>Mobile: (347)-510-7115</li>
            <li>GitHub: github.com/noahchun</li>
        </ul>
    </div>
</div>

