.home-search {
    font-family: 'Steelfish', sans-serif;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-container {
    font-family: 'Steelfish', sans-serif;
}

.search-bar {
    border-radius: 40px;
}

@font-face {
    font-family: 'Steelfish';
    src: url('../../assets/fonts/steelfish-bd.otf') format('truetype');
}

.franchise-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
}

.franchise-logo {
    width: 200px;
    transition: transform 0.5s;
    transform: scale(1);
}

.franchise-logo:hover {
    transform: scale(1.3);
}
