.home-search {
    font-family: 'Steelfish', sans-serif;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-container {
    font-family: 'Steelfish', sans-serif;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    margin-bottom: 10%;
}

@font-face {
    font-family: 'Steelfish';
    src: url('../../assets/fonts/steelfish-bd.otf') format('truetype');
}

.franchise-selection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15%;
    margin-left: -35%;
}

.franchise-logo {
    width: 200px;
    transition: transform 0.5s;
    transform: scale(1);
}

.franchise-logo:hover {
    transform: scale(1.3);
}

.primary {
    background-color: rgba(97, 175, 223, 1); 
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
