<div class="home-search">
    <p>Welcome to Mech Media! Browse our catalog of franchises.</p>
    <div class="search-bar-container">
        <input type="text" class="search-bar" placeholder="...">
    </div>
    <app-housing-location></app-housing-location>
    <div class="franchise-selection">
        <img src="../../assets/images/titanfall2logo.png" class="franchise-logo">
        <img src="../../assets//images/pacificrimlogo.png" class="franchise-logo">
        <img src="../../assets/images/ironbloodedlogo.png" class="franchise-logo">
    </div>
</div>