<section>
    <div class="home-search">
        <p>Welcome to Mech Media! Browse our catalog of franchises.</p>
        <div class="search-bar-container">
            <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
            <input type="text" class="search-bar" placeholder="Filter by franchise" #filter>
        </div>
        <div class="franchise-selection">
            <ng-container *ngFor="let anime of filteredLocationList; let i = index">
                <app-housing-location
                    class="franchise-logo"
                    *ngIf="i === 0 || i === 1 || i === 6 || i === 20 || i === 23"  
                    [housingLocation]="anime"
                    [anime]="anime"
                ></app-housing-location>
            </ng-container>
        </div>
    </div>
</section>
