<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<div class="synopsis">
    <!-- <h1>{{ anime.data.title_english }}</h1> -->
    <img src="assets/images/codegeasslogo.png" class="logo" [class.visible]="isAnimeVisible">

    <p *ngIf="anime" class="placeholder" [class.visible]="isAnimeVisible">{{ anime.data.synopsis }}</p>
    <div class="flip-container">
        <div class="flipper">
            <video src="assets/videos/kallenvssuzaku.mp4" class="video" muted autoplay loop playsinline></video>
            <div class="text-overlay">
                <p>Knightmare Frame</p>
            </div>
        </div>
    </div>
    <div class="mech-info"> <!-- Replace mech info based on selected anime later -->
        <img src="assets/images/lancelot.png" class="fade-in from-left">
        <div class="fade-in from-left delayed">
            <h2>Z-01 Lancelot</h2>
            <p>Pilot: Suzaku Kururugi</p>
            <p>The first ever seventh generation Knightmare Frame, Lancelot
                outperforms other units due to its high amount of sakuradite. 
            </p>
            <ul> Weaponry
                <li class="first-weapon">Blaze Luminous Shields
                    <div class="weapon-overlay">
                        <img src="assets/images/lancelot-blaze-luminous.png">
                    </div>
                </li>
                <li>Slash Harkens</li>
                <li>Maser Vibration Swords</li>
                <li>VARIS Particle Rifle</li>
            </ul>
        </div>
    </div>
    <div class="fade-in from-right">
        <img src="assets/images/shinkiro.png">
    </div>
</div>


    


