<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<div class="synopsis">
    <!-- <h1>{{ anime.data.title_english }}</h1> -->
    <img src="assets/images/codegeasslogo.png" class="logo" [class.visible]="isAnimeVisible">

    <p *ngIf="anime" class="placeholder" [class.visible]="isAnimeVisible">{{ anime.data.synopsis }}</p>
    <div class="flip-container">
        <div class="flipper">
            <video src="assets/videos/kallenvssuzaku.mp4" class="video" muted autoplay loop playsinline></video>
            <div class="text-overlay">
                <p>Knightmare Frame</p>
            </div>
        </div>
    </div>

    <div class="mech-info"> <!-- Replace mech info based on selected anime later -->
        <img src="assets/images/lancelot.png" class="fade-in from-left">
        <div class="fade-in from-left delayed">
            <h2>Z-01 Lancelot</h2>
            <p>Pilot: Suzaku Kururugi</p>
            <p>The first ever seventh generation Knightmare Frame, Lancelot
                outperforms other units due to its high amount of sakuradite. 
            </p>
            <ul> Weaponry (Hover Over!)
                <li class="first-weapon">Blaze Luminous Shields
                    <div class="weapon-overlay">
                        <img src="assets/images/lancelot-blaze-luminous.png">
                    </div>
                </li>
                <li class="second-weapon">Slash Harkens
                    <div class="weapon-overlay">
                        <img src="assets/images/lancelot-slash-harkens.png">
                    </div>
                </li>
                <li class="third-weapon">Maser Vibration Swords
                    <div class="weapon-overlay">
                        <img src="assets/images/lancelot-swords.png">
                    </div>
                </li>
                <li class="fourth-weapon">VARIS Particle Rifle
                    <div class="weapon-overlay">
                        <img src="assets/images/lancelot-rifle.png">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="second-mech-info">
        <div class="fade-in from-right delayed">
            <h2>Z-01Z Lancelot Albion</h2>
            <p>Pilot: Suzaku Kururugi</p>
            <p>Being one of two ninth-generation frames seen in Code Geass, the Lancelot Albion
                was the strongest unit of the Britannia led by Lelouch.
            </p>
        </div>
        <img src="assets/images/lancelot-albion.png" class="second-mech fade-in from-right">
    </div>
</div>


    


